html,body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.cont {
	display: inline-block;
	width: 100%;
	min-height: 100%;
}
.bird {
	width: 20px;
	height: 20px;
	background-color: red;
	margin: 0 auto;
	transition: margin-top .1s;
	-moz-transition: margin-top .1s; /* Firefox 4 */
	-webkit-transition: margin-top .1s; /* Safari 和 Chrome */
	-o-transition: margin-top .1s; 
	transition-timing-function: linear;
	-moz-transition-timing-function: linear; /* Firefox 4 */
	-webkit-transition-timing-function: linear; /* Safari 和 Chrome */
	-o-transition-timing-function: linear; /* Opera */
}
.bot {
	height: 300px;
	width: 100%;
	background: red;
	position: absolute;
	bottom: 0;
}
.fbi {
	width: 200px;
	height: 100px;
	background-color: red;
	font-size: 40px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	transition: right .1s;
	-moz-transition: right .1s; /* Firefox 4 */
	-webkit-transition: right .1s; /* Safari 和 Chrome */
	-o-transition: right .1s; 
	transition-timing-function: linear;
	-moz-transition-timing-function: linear; /* Firefox 4 */
	-webkit-transition-timing-function: linear; /* Safari 和 Chrome */
	-o-transition-timing-function: linear; /* Opera */
}